---
title: "Bliss Balls"
shop: true
pageCss: "blissballs"
---


<div class="row">
  <div class="small-12 large-5 columns">
    <img src="/images/bliss-balls2.jpg" alt="bliss balls">
  </div>
  <div class="small-12 large-6 large-push-1 columns">
    <p>Our bliss balls are all vegan, refined sugar free, gluten free and paleo friendly.</p>
    <p>They make a great post or pre training snack, a healthy morning or afternoon tea, or something small to eat after dinner. They are very filling and satisfying and can cure the biggest of sweet tooths.</p>
    <p>The bliss balls come in a box of 6 for $18.</p>
    <p>Currently there are two flavours available, Choc Mint and Lemon Goji.</p>
  </div>
</div>
<div class="row">
  <div class="small-12 large-5 columns">
    <h3>Choc Mint</h3>
    <p>This delicious bliss ball is made from almonds, medjool dates, cacao powder, coconut flakes, pure essential peppermint oil. They are the perfect chocolate hit with a slight minty aftertaste.</p>
  </div>
  <div class="small-12 large-6 large-push-1 columns">
    <h3>Lemon Goji</h3>
    <p>This bliss ball is made from almonds, medjool dates, freshly squeezed lemon juice, coconut flakes and goji berries. They are a light and refreshing snack with a slight tart but sweet aftertaste.</p>
  </div>
</div>
