---
title: "Cakes"
shop: true
posted: 2016-01-31
pageCss: "shop-cakes"
fullPage: true
---
<div class="row">
  <div class="small-10 large-10 column centered">
  <p>We cater for your birthday parties, engagement parties, goodbye parties, anniversaries and whatever other parties you may be celebrating with our whole cakes. You can chose from many different flavours and we even have extra seasonal flavours that are advertised on our Facebook and Instagram.</p>
  <p>Two different sizes are available. A 9 inch and can feed 12-24 people and a 12 inch which can cater for 24-36 people. The cake can be cut up even smaller to cater for more guests, as the cakes are very rich and filling. Please note that cake toppings can change, and no cake will look the same. If you have a specific decoration in mind, please let us know.</p>
  </div>
</div>
<section class="card">
  <div class="row">
    <div class="small-10 large-10 column centered">
      <h3>Choc-Mint Cheezecake</h3>
    </div>
  </div>
<div class="row">
    <div class="small-12 large-6 large-push-1 columns product">
      <h4>Description</h4>
      <p>This cake has a chocolate nutty base, with a smooth creamy bright green fresh mint layer, topped with a rich chocolate layer and sprinkled with pure cacao nibs, chocolate bliss balls and raw chocolate.</p>
      <h5>Dietary Details</h5>
      <p class="dietary">Raw, organic, gluten free, dairy free, vegan, refined sugar free, Paleo friendly</p>
    </div>
    <div class="small-10 small-push-1 large-4 large-push-1 columns image">
      <img src="/images/cake2.jpg" alt="cake 2">
    </div>
  </div>
</section>

<section class="card">
  <div class="row">
    <div class="small-10 large-10 column centered">
      <h3>Peanut Snickers Cheezecake</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 large-push-1 columns product">
      <h4>Description</h4>
      <p>This cake has a cacao almond base, a sweet date caramel sandwiched between a creamy peanut butter layer and a rich chocolate layer topped with peanut butter cups, raw chocolate and crushed peanuts.</p>
      <h5>Dietary Details</h5>
      <p class="dietary">Organic, gluten free, dairy free, vegan, refined sugar free</p>
    </div>
    <div class="small-10 small-push-1 large-4 large-push-1 columns image">
      <img src="/images/cake2.jpg" alt="cake 2">
    </div>
  </div>
</section>

<section class="card">
  <div class="row">
    <div class="small-10 large-10 column centered">
      <h3>Banana Caramel Cheezecake</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 large-push-1 columns product">
      <h4>Description</h4>
      <p>This cake has a vanilla almond base, topped with a sweet caramel layer, finished off with a super tasty creamy banana layer, topped with melted Loving Earth salted caramel chocolate, raw dark chocolate and dried bananas.</p>
      <h5>Dietary Details</h5>
      <p class="dietary">Raw, organic, gluten free, dairy free, vegan, refined sugar free, Paleo friendly.</p>
    </div>
    <div class="small-10 small-push-1 large-4 large-push-1 columns image">
      <img src="/images/cake2.jpg" alt="cake 2">
    </div>
  </div>
</section>

<section class="card">
  <div class="row">
    <div class="small-10 large-10 column centered">
      <h3>Mixed Berry and Lemon Cheezecake</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 large-push-1 columns product">
      <h4>Description</h4>
      <p>This cake has an almond and coconut base, topped with a zesty lemon layer, finished with a fresh and juicy berry layer, topped with lemon goji bliss balls, Loving Earth raw chocolate and freeze dried berries.</p>
      <h5>Dietary Details</h5>
      <p class="dietary">Raw, organic, gluten free, dairy free, vegan, refined sugar free, Paleo friendly.</p>
    </div>
    <div class="small-10 small-push-1 large-4 large-push-1 columns image">
      <img src="/images/cake2.jpg" alt="cake 2">
    </div>
  </div>
</section>

<section class="card">
  <div class="row">
    <div class="small-10 large-10 column centered">
      <h3>White Chocolate Raspberry Cheezecake</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 large-push-1 columns product">
      <h4>Description</h4>
      <p>White Chocolate Raspberry Cheezecake</p>
      <h5>Dietary Details</h5>
      <p class="dietary">Raw, organic, gluten free, dairy free, vegan, refined sugar free, Paleo friendly.</p>
    </div>
    <div class="small-10 small-push-1 large-4 large-push-1 columns image">
      <img src="/images/cake2.jpg" alt="cake 2">
    </div>
  </div>
</section>

<section class="card">
  <div class="row">
    <div class="small-10 large-10 column centered">
      <h3>ChocNana Cheezecake</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 large-push-1 columns product">
      <h4>Description</h4>
      <p>This delicious combination of chocolate and banana make this cake very smooth and creamy with a perfect amount of sweetness. A chocolate nutty base, topped with swirls of both banana cheezecake and chocolate cheezecake topped with crushed dried bananas and raw chocolate.</p>
      <h5>Dietary Details</h5>
      <p class="dietary">Raw, organic, gluten free, dairy free, vegan, refined sugar free, Paleo friendly.</p>
    </div>
    <div class="small-10 small-push-1 large-4 large-push-1 columns image">
      <img src="/images/cake2.jpg" alt="cake 2">
    </div>
  </div>
</section>
