---
title: "Gift Boxes"
shop: true
---



<div class="row">
  <div class="small-12 large-5 columns">
    <img src="/images/gift-box.jpg" alt="gift box">
  </div>
  <div class="small-12 large-6 large-push-1 columns">
    <p>We offer cake boxes that are great gifts for a special someone or for a special treat for yourself.</p>
    <ul>
      <li>Our small boxes come with two pieces of cake, and one large bliss ball.</li>
      <li>Our large boxes come with three pieces of cake and two large bliss balls.</li>
    </ul>
    <p>Check out <a href="/shop/cakes/" title="Cakes">our whole cakes</a> for flavour options. All of the whole cakes can be cut up into slices for these mixed boxes.</p>
    <p>Orders need to be over $40 for delivery, or else you can pick your orders up.</p>
    <p>Please give us <strong>at least 5 days</strong> to prepare your order. Please let us kow if you have any urgent orders and we can try to accommodate.</p>
  </div>
</div>
