---
title: "Catering Boxes"
posted: 2015-09-18
catering: true
---
<p>We also cater for your special events and we offer catering boxes which are perfect for workplace morning tea and afternoon tea and for catch ups with friends. The ingredients we use in our cakes are gluten free, dairy free and egg free so they cater for many dietary needs.</p>
<p>Our boxes can cater for eight people or more, starting at $40. Check out our gallery for photos of our catering boxes and send us a message via the <a href="/contact">contact page</a> if you'd like to place an order.</p>
<div class="row">
  <div class="small-10 large-6 columns centered">
    <img src="/images/catering-box2.jpg" alt="catering box">
  </div>
</div>
