$hdAqua: #00b3be;
$hdGrey: #e2e2e2;
$hdBlack: #333;
$hdBackground: #eee;

$font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'Quicksand', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6, nav {
  font-family: $heading-font-family;
}

body {
  font-family: $font-family;
}
