$hdAqua: #00b3be;
$hdGrey: #e2e2e2;
$hdBlack: #333;
$hdBackground: #eee;

$font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'Quicksand', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  /*
  color: $hdAqua;
  font-weight: 700;
  */
}

body {
  font-family: $font-family;
  color: $hdBlack;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
