@import '../../../node_modules/boneless/lib/_boneless/_utilities/_placeholders.scss';
@import '../../../node_modules/boneless/lib/_boneless/_utilities/_mixins.scss';
@import '../../../node_modules/boneless/lib/_boneless/_grid.scss';
@import 'settings';

.notice {
  font-weight: bold;
  font-size: 2rem;
}

.gallery {
  margin: 0 auto;
}

.instagram-img{
  width:300px;
  float:left;
  margin:10px;
  position:relative;
  background:#eee;
  box-shadow:0 1px 3px rgba(0,0,0,0.4);
}
.gallery .imagebox img{
  width:300px;
  height:300px;
  display:block;
}
.gallery .imagebox .likes {
  position:absolute;
  top:0;
  left:0;
  padding:5px 5px 5px 30px;
  background:rgba(0,0,0,0.5) url(/images/heart.png) no-repeat;
  background-size:20px;
  background-position:5px;
  color:#fff;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.fancybox-title .likes {
  padding:5px 5px 5px 30px;
  background:url(/images/heart.png) no-repeat;
  background-size:20px;
  background-position:5px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.instagram-description{
  line-height:25px !important;
  color:#222;
  font:400 15px  "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
.instagram-description .caption{
  display:block;
  margin:0 5px;
  border-bottom:1px solid #ddd;
  word-break: break-word;
  overflow: hidden;
}

.view-more {
  margin: 2rem auto;
}
