@import '../../../node_modules/boneless/lib/_boneless/_utilities/_placeholders.scss';
@import '../../../node_modules/boneless/lib/_boneless/_utilities/_mixins.scss';
@import '../../../node_modules/boneless/lib/_boneless/_grid.scss';
@import 'settings';
@import 'slider';

.slider.hero #slide-cakes:checked ~ .active label:nth-child(1),
.slider.hero #slide-bliss-balls:checked ~ .active label:nth-child(2),
.slider.hero #slide-catering-boxes:checked ~ .active label:nth-child(3)
{
  background: #00b3be;
  border-color: #00b3be !important;
}

.slider.hero #slide-cakes:checked ~ .slides .slide:first-child .info,
.slider.hero #slide-bliss-balls:checked ~ .slides .slide:nth-child(2) .info,
.slider.hero #slide-catering-boxes:checked ~ .slides .slide:last-child .info
{
  opacity: 1 !important;
}

.slider.hero #slide-cakes:checked ~ .slides .inner { margin-left: 0% }
.slider.hero #slide-bliss-balls:checked ~ .slides .inner { margin-left: -100% }
.slider.hero #slide-catering-boxes:checked ~ .slides .inner { margin-left: -200% }


.facts {
  text-align: center;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include bp($bp-grid-medium) {
    flex-wrap: nowrap;
  }
  align-items: center;
  align-content: center;

  li {
    font-size: 1.4rem;
    line-height: 3rem;
    font-family: $heading-font-family;
    list-style: none;
    margin: 0 .5rem;
    @include bp($bp-grid-medium) {
      margin: 0;
      border-right: .1rem solid $hdBlack;
    }
    align-self: center;
    flex-grow: 1;

    &:last-child {
      border-right: none;
    }
  }
}
