@import '../../../node_modules/boneless/lib/_boneless/_utilities/_placeholders.scss';
@import '../../../node_modules/boneless/lib/_boneless/_utilities/_mixins.scss';
@import '../../../node_modules/boneless/lib/_boneless/_grid.scss';
@import 'settings';

.page-content .card:nth-child(2n+1) {
  background-color: $hdWhite;
}

.card {
  padding: .5rem 1rem;
  padding-bottom: 1rem;
}

.product {
  h4, h5 {
    text-align: left;
    font-family: $heading-font-family;
    font-weight: 300;
    margin-bottom: .5rem;
  }

  h4, h5 {
    border-bottom: .1rem solid $border-color;
  }
}
