---
title: "About Us"
posted: 2015-09-18
---
<p>Hi my name is Raya and I am from Warrnambool, Victoria. I am currently studying Health Sciences at Deakin University.</p>

<p>I completed a Bachelor of Commerce in 2013, majoring in financial planning. I worked in the financial planning industry for a year until I realised that it wasn't for me. My passion lies within the health and fitness field, which is why I decided to go back to university to study. I am majoring in nutrition and health promotion and I cannot wait to help others to make healthy lifestyle changes and become the happiest version of themselves.</p>

<p>In 2012 I completed a Certificate 3 and 4 in Fitness making me a qualified personal trainer and I have been training clients since then. I also completed a Certificate 4 in Massage Therapy as I love incorporating both fitness and massage.</p>

<p>I work at a gym in <a href="https://www.9round.com/fitness/Warrnambool" rel="nofolow" title="9Round Warrnambool">Warrnambool called 9Round</a> and love connecting with clients and keeping busy.</p>

<p>I have two puppies, one is a beautiful Border Collie by the name of Tilly and one is a Lab cross Border Collie called Mia and they are absolutely beautiful. I have a partner <a href="https://fluentdevelopment.com.au/about/" rel="nofolow" title="Bradly Sharpe - Web and Mobile application developer">Bradly, who is a web and mobile application developer</a>, and he lovingly made this amazing website for me.</p>

<p>I am very passionate about health and I really love cake! That is why I started this business. To offer healthier alternatives to cure your sweet tooth.</p>

<p><a href="/shop/cakes">Our cakes</a> are vegan, gluten free, dairy free, made with organic ingredients, refined sugar free and very yummy! Most of them are paleo friendly too. They are full of nutritious ingredients that even little kids will love!</p>

<p>We sell cakes and <a href="/shop/bliss-balls">bliss balls</a>, at markets in Warrnambool and we also offer catering boxes for your special events. We make delicious and healthy birthday cakes that even the biggest sweet tooth at the party will love. We also stock our cakes at some local cafes and restaurants.</p>

<p>Our cakes are sweetened with Loving Earth coconut nectar which is very environmentally friendly! Our cakes are made in a kitchen that may also contain wheat, dairy and eggs but we are very careful not to cross contaminate.</p>

<p>We hope you enjoy our cakes. Please don't hesitate to <a href="/contact">contact us if you have any questions</a>.</p>
