---
title: "Gallery"
posted: 2016-03-20
pageCss: "gallery"
fullPage: true
---
<div class="row">
  <div id="notice" class="notice u-center-text">
    <noscript>
      JavaScript is required to view the Gallery
    </noscript>
  </div>
</div>

<div id="gallery" class="gallery"></div>
<div class="u-center-text">
  <a href="https://www.instagram.com/{{config.instagram.username}}/" class="view-more btn btn-hdAqua" target="_blank">View More on Instagram</a>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
  $('head').append( $('<link rel="stylesheet" type="text/css" />').attr('href', '//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css') );
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
  var notice = document.getElementById('notice');

  var Instagram = {
    endpoint: 'https://api.instagram.com/v1/users/{{ config.instagram.user-id }}/media/recent/?access_token={{ config.instagram.access-token }}&count=20',
    //endpoint: 'https://api.instagram.com/v1/users/{{ config.instagram.user-id }}/media/recent/?access_token=&count=20',
    notice: function(message) {
      (message) ? $(notice).text(message) : $(notice).empty();
    },
    fetch: function() {
      $.ajax({
        type: "GET",
        dataType: "jsonp",
        url: this.endpoint
      })
        .done(function (json) {
          if (json.meta.code === 200 && 0 < json.data.length) {
            $.each(json.data, function(){
              if ('image' === this.type)
                $('.gallery').append("<div class='instagram-img' data-id='" + this.id + "'><div class='imagebox'><span class='likes'>"+this.likes.count+"</span><a class='fancy' rel='instagram' href='" + this.images.standard_resolution.url + "' data-link='" + this.link + "' data-likes='" + this.likes.count + "' data-comments='" + this.comments.count + "'><img src='"+this.images.low_resolution.url+"'/></a></div><div class='instagram-description'><span class='caption'>"+this.caption.text+"</span></div></div>");
              Instagram.notice();
            });
            var $container = $('.gallery');
            // initialize
            $container.masonry({
              itemSelector: '.instagram-img',
              isFitWidth: true
            });

            $("a.fancy").fancybox({
              titlePosition: 'inside',
              opacity: true,
              centerOnScroll: true,
              beforeLoad: function() {
                  this.title = "<span class='likes'>"+ $(this.element).attr('data-likes') +"</span> - View on <a href='" + $(this.element).attr('data-link') + "' target='_blank'>Instagram</a>";
              },
              helpers : {
                title: {
                    type: 'inside'
                }
              }
          	});
          }
        })
        .fail(function(ajax, text, error) {
          console.error(ajax, text, error);
          Instagram.notice("Failed to fetch Instagram pictures");
        });
    }
  }
  Instagram.notice("Loading images...");
  Instagram.fetch();
</script>
