---
homepage: true
posted: 2015-09-18
pageCss: "home"
pageSlider: true
---
<div class="container">
  <div class="row">
    <div class="slider hero">
      <input type="radio" name="home" id="slide-shkara-eating-cake" checked="checked">
      <input type="radio" name="home" id="slide-jayda-enjoying-chocmint-cheezecake-horizontal">
      <input type="radio" name="home" id="slide-shkara-looking-at-cake">
      <input type="radio" name="home" id="slide-jayda-and-Raya-holding-bananas">
      <input type="radio" name="home" id="slide-mixed-berry-and-lemon-cheezecake">
      <div class="slides">
        <div class="wrapper">
          <div class="inner">
            <div class="slide">
              <img src="/images/Shkara-eating-cake.jpg" alt="Shkara eating cake">
              <!--<div class="info hasButton">
                <a href="/shop/cakes/" class="btn btn-hdAqua" title="">Order</a>-->
              <div class="info">
                <h5>Healthy Desires Cakes</h5>
              </div>
            </div>
            <div class="slide">
              <img src="/images/Jayda-enjoying-chocmint-cheezecake-horizontal.jpg" alt="Jayda enjoying chocmint cheezecake">
              <div class="info">
                <!--<a href="#" class="btn btn-hdAqua" title="">More Info</a>-->
                <h5>Perfect for kids!</h5>
                <!-- <p>Some information about our Cake</p> -->
              </div>
            </div>
            <div class="slide">
              <img src="/images/Shkara-looking-at-cake.jpg" alt="Shkara looking at cake">
              <div class="info">
                <!--<a href="/shop/cakes/" class="btn btn-hdAqua" title="">Order</a>-->
                <h5>Healthy Desires Cakes</h5>
              </div>
            </div>
            <div class="slide">
              <img src="/images/Mixed-berry-and-lemon-cheezecake.jpg" alt="Mixed berry and lemon cheezecake">
              <div class="info">
                <!--<a href="/shop/cakes/" class="btn btn-hdAqua" title="">More Info</a>-->
                <h5>Mixed Berry &amp; Lemon Cheezecake</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="active">
        <label for="slide-shkara-eating-cake"></label>
        <label for="slide-jayda-enjoying-chocmint-cheezecake-horizontal"></label>
        <label for="slide-shkara-looking-at-cake"></label>
        <label for="slide-mixed-berry-and-lemon-cheezecake"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="facts">
      <li>Raw</li>
      <li>Organic</li>
      <li>Gluten Free</li>
      <li>Vegan</li>
      <li>Refined Sugar Free</li>
      <li>Dairy Free</li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  window.sliders.push(
    {
      "name": "hero",
      "autostart": true,
      "slides": [
        "slide-shkara-eating-cake",
        "slide-jayda-enjoying-chocmint-cheezecake-horizontal",
        "slide-shkara-looking-at-cake",
        "slide-mixed-berry-and-lemon-cheezecake"
      ]
    }
  );
</script>
